body{
    margin: 0%;
    margin-bottom: 0%;
}
/* Add a black background color to the top navigation */
.topnav {
  display: flex;
    font-family: Gotham,sans-serif!important;
    background-color:black;
    overflow: hidden;
    cursor: pointer;
 
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:small;
    font-family:Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  

  
  
  /* Hide the link that should open and close the topnav on small screens */
  .pnav .icon {
    display: none;
  }
 



  /* Create a top navigation bar with a black background color  */
.pnav {
    margin-top: 30px;
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .pnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .pnav a:hover {
  
    color:orange;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .pnav a.split {
    float: right;
    
    color:black;
    
  }
  .pnav a.split:hover{
    color: orange;
  }
  .login{
    float: right;
    padding-left: 920px;
  }
  .login a:hover{
    color: orange;
  
  }
  .topnav a:hover{
    color: orange;
  }
  

 
   /* Top right text */
   .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding-right: 50px;
    margin-top: 200px;
    font-size: x-large;
  }




  
  .column {
    float: left;
    width: 30.33%;
   padding-left: 30px;
   
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    padding-left: 100px;
  }




  .add{
    display: inline-block;
    color: orange;
    border: 2px solid orange;
    padding: 10px 10px 10px 10px;
    margin-left: 100px;
  }
  .add:hover{
    color: white;
    background-color: orange;
    cursor: pointer;
  }




  
.bottom{
    display: flex;
    padding: 15px 15px 15px 15px;
    background-color: orange;
    color: white;
  }
  
  
  
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 30px 30px 30px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .btn{
   
    border-left: black;
    padding-left: 30px;
    margin-top: 40px;
    cursor: pointer;
  }
  
  .botoom{
    display: flex;
  margin: 0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  }
  
  
  .about{
    padding-left: 300px;
    margin-top: 50px;
    
  }
  
  .support{
    padding-left: 50px;
  }
  
  .icon{
    display: flex;
    border-top: 2px solid white;
  
    color: black;
    
  }
  .login{
    float: right;
    padding-left: 920px;
  }
  .login a:hover{
    color: orange;
  
  }
  .topnav a:hover{
    color: orange;
  }
  
  
  
